<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.dogadaev.lastfm.search">

    <application>
        <activity android:name=".presentation.view.activity.SearchActivity">
        </activity>
    </application>

</manifest>