<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dogadaev.lastfm.albums"
    >

    <application>
        <activity
            android:name=".presentation.view.activity.AlbumsActivity"
            android:label="@string/albums_activity_label"
            android:theme="@style/AppTheme.Albums"
            />
    </application>

</manifest>